footer {
  background-color: #252525;
  h1 {
    color: rgb(249, 249, 249);
  }
  p {
    color: rgb(222, 222, 222);
  }
  form {
    @media (min-width: 992px) {
      float: right;
    }
    input,
    textarea {
      background: transparent;
      resize: none;
      outline: none;
      color: rgb(155, 154, 154);
    }

    h5 {
      width: -moz-fit-content;
      width: fit-content;
      cursor: pointer;
      color: rgb(222, 222, 222);
    }
    label {
      margin-top: 20px;
      color: rgb(155, 154, 154);
      &:first-child {
        margin-top: 0;
      }
    }
  }
}
