.projects {
  margin-top: 100px;
  h1,
  h5 {
    color: rgb(249, 249, 249);
  }
  p {
    color: rgb(222, 222, 222);
  }

  figure {
    cursor: pointer;
    position: relative;
    a {
      position: absolute;
      background: transparent;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
    }
    img {
      width: 100%;
      object-fit: cover;
      height: 80%;
    }
  }
}
