html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
body {
    background-color: #F1F5F8;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}
h1 {
    color: #a76d0e;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 70px;
    font-family: 'Great Vibes', cursive;
    font-weight: 300;
}
.container {
    background-color: #EAf6f6;
    padding: 2rem;
    width: 95%;
    max-width: 750px;
}
.item {
    background-color: #FFFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 25px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    font-size: 1.2rem;
}
.item i {
    font-size: 1.5rem;
    font-weight: 500;
    color: #a76d0e;
    
}

.add-button{
    outline: none;
    color: #a76d0e;
    font-weight: 900;
    font-size: 1rem;
    background: none;
    border: none;
}