@forward "variables";
@use "mixins" as m;
header {
  width: 100%;
  background-color: var(--background-color);
  .nav {
    width: var(--component-width);
    margin-inline: auto;
    padding-block: 0.8rem;
    // background-color: red;
    @include m.flex;
    &__logo {
      cursor: pointer;
      img {
        width: 70px;
      }
    }
    &__links {
      //   background-color: green;
      --gap: 2rem;
      --list-item-border: 1.7rem;
      .list {
        @include m.flex;
        gap: var(--gap);

        &__item {
          @include m.flex-centered;
          transition: 0.5s;
          cursor: pointer;
          &:hover {
            border: 2px solid var(--links-color);
            width: var(--list-item-border);
            height: var(--list-item-border);
            border-radius: 50%;
            border-color: var(--links-color-hover);
            .list__item--link {
              color: var(--links-color-hover);
            }
          }
          &--link {
            color: var(--links-color);
            font-size: 1.2rem;
            &:hover {
            }
          }
        }
      }
    }
  }
}
