:root {
  --background-color: #151515;
  --heading-color: #fff;
  --links-color: #ffffffd9;
  --links-color-hover: #ffffff84;
  --text-color: #cbcbcb;
  --border-color: #56dfa3;
  --footer-bacgkround: #242424;
  --component-width: calc(80% + 36px);
  // --component-max-width: 98%;
}
