@use "functions" as m;
@use "variables";
body {
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--Light_Mode_Background);
  .title {
    // border-bottom: 1px solid;
    background-color: var(--Light_Mode_Elements);
    h1 {
      color: var(--Light_Mode_Text);
    }
    button {
      color: var(--Light_Mode_Text);
      background: transparent;
      border: none;
    }
    box-shadow: var(--Light_Mode_Shadow);
  }
  .author {
    color: var(--Light_Mode_Text);
  }
}
